<li class="control-group nested-fields">
  <div class="controls">

    <%= f.fields_for :ingredient do |quantity_ingredient| %>
      <%= quantity_ingredient.text_field :name %>
    <% end %>

  </div>
</li>
