
<div class="row text-center">
  <div id="gallery" class="box">
  <% @recipes.each do |recipe| %>
    <div class="col-xs-6 col-sm-4">
      <div class="cliente">
      <%= link_to image_tag(recipe.image.url), recipe_path(recipe) %>
    </br>
      <%= link_to recipe.name, recipe_path(recipe) %>
    </div>
    </div>
  <% end %>
  </div>
</div>
