<div class="box">
    <div class="social-likes social-likes_vertical">
      <div class="facebook" title="Share link on Facebook">Facebook</div>
      <div class="pinterest" data-media="http://example.com/image/url.jpg">Pinterest</div>
      <div class="plusone" title="something">Google+</div>
    </div>
  </br>
  </br>
    <div class="fb-page" data-href="https://www.facebook.com/indiancrockpotcookery" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/indiancrockpotcookery"><a href="https://www.facebook.com/indiancrockpotcookery">Indian Crock-Pot Recipes</a></blockquote></div></div>
</div>
