<div class="box">
    <div class="social-likes social-likes_vertical">
      <div class="facebook" title="Share link on Facebook">Facebook</div>
      <div class="pinterest" data-media="http://example.com/image/url.jpg">Pinterest</div>
      <div class="plusone" title="something">Google+</div>
    </div>
  </br>
  </br>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
