<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <p>
      <h1>Create a new Group</h1>
    </p>
    <%= form_for @group do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit 'Create Group', class: "btn btn-success" %>
    <%end%>
  </div>
</div>
